* {
  margin: 10px;
}
h1,
h2,
h3,
h4 {
  margin: 1em 0;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.flex-container {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  color: #ababab;
  position: sticky;
}

.item1 {
  margin-right: auto;
  width: 268px;
  height: 33px;
  margin-top: 0px;
}
a {
  text-decoration: none;
  color: #ababab;
}
.item2:hover {
  color: #00b39b;
}
.item3:hover {
  color: #00b39b;
}
.item4:hover {
  color: #00b39b;
}
.section {
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sec1 {
  font-size: 2.125rem;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.article {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  font-weight: 400;
  line-height: 1.75;
}
.blocks {
  display: flex;
  align-items: stretch;
  height: 350px;
  margin-left: 200px;
  margin-right: 200px;
}
.block1 {
  width: 300px;
  background: #00b39b;
  color: #fff;
  text-shadow: none;
}
.block2 {
  width: 300px;
  background: #134fcfe7;
  color: #fff;
  text-shadow: none;
}
.block3 {
  width: 300px;
  background: #010111d3;
  color: #fff;
  text-shadow: none;
}

.cred {
  font-size: 1.625em;
  color: #00b39b;
  float: left;
  margin-left: 200px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: #ababab;
  margin-right: 200px;
  height: 200px;
}
.logos > li:hover {
  color: #00b39b;
}
